<div class="col-sm-12">
    <div class="row">

        <h1><a href="{{ url_for('paste.view_bin', bin_id=pastebin.id, slug=pastebin.slug) }}">{{ pastebin.description }}</a></h1>
        <ul class="blog-info">
            <li><i class="fa fa-calendar"></i> {{ pastebin.date_created|time_format }}</li>
            <li><i class="fa fa-user"></i> <a href="{{ url_for('user.profile', username=pastebin.user.username) }}">{{ pastebin.user.username }}</a></li>
            <li><i class="fa fa-code"></i> {{ pastebin.lang }}</li>

            {% if pastebin.is_public %}
            <li><i class="fa fa-globe"></i> {% trans %}This bin is public{% endtrans %}</li>
            {% else %}
            <li><i class="fa fa-lock"></i> {% trans %}This bin is private{% endtrans %}</li>
            {% endif %}
        </ul>


        <div>
            {% trans %}You can reach this paste-bin via{% endtrans %}
            <pre>{{ request.url_root }}paste/bin/{{ pastebin.id }}-{{ pastebin.slug }} </pre>
        </div>

        <!-- The "safe" keyword unescapes the HTML rendered by pygments -->
        <div class="codehilite">
        {% autoescape false %}
        {{ pastebin.content|highlighter(pastebin.lang) }}
        {% endautoescape %}
        </div>

    </div>
</div>
