{% set active_paste=True %}
{% if mode == "edit" %}
    {% set page_title = "Edit Paste-Bin" %}
{% else %}
    {% set page_title = "New Paste-Bin" %}
{% endif %}
{% extends theme("layout.html") %}

{% block content %}
{%- from theme("macros.html") import render_field, render_boolean_field -%}
<form class="form-horizontal" role="form" method="post">
    {{ form.hidden_tag() }}

    <legend>{% if mode == "edit" %}Edit{% else %}New{% endif %} Paste-Bin</legend>

    {{ render_field(form.description, div_class="col-md-4", label_class="") }}
    {{ render_field(form.lang, div_class="col-md-4", label_class="") }}
    {{ render_boolean_field(form.is_public, inline=True) }}
    {{ render_field(form.content, rows=12, div_class="col-md-9", label_class="") }}

    <div class="form-group">
        <div class="col-lg-offset-0 col-md-9">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
{% endblock %}

