{% if mode == "edit" %}
    {% set page_title = "Edit Comment" %}
{% else %}
    {% set page_title = "New Comment" %}
{% endif %}


{% extends theme("layout.html") %}

{% block content %}
{%- from theme("macros.html") import render_field -%}
<form class="form" role="form" method="post">
    {{ form.hidden_tag() }}

    <h3>{% if mode == "edit" %}Edit{% else %}New{% endif %} Comment</h3>

    {{ render_field(form.content, div_class="col-sm-12", rows=12) }}

    <button type="submit" class="btn btn-success">Submit!</button>
</form>
{% endblock %}
