{%- if current_user.is_authenticated() -%}
<hr>
<form class="form" method="post" name="new">
    <fieldset>
    {%- from theme('macros.html') import horizontal_field -%}
    {{ form.hidden_tag() }}

    <legend>New Comment</legend>

    {{ horizontal_field(form.content, rows="5") }}

    <button type="submit" class="btn">Submit!</button>

    </fieldset>
</form>
{%- else -%}
<a href="{{ url_for('auth.login') }}">Login</a> or <a href="{{ url_for('auth.register') }}">Register</a> to comment on this post.
{%- endif -%}

{%- if post.comments -%}
    <table class="table table-hover">
    {%- for comment in post.comments -%}
        <tr>
            <td width="70px"><a href="{{ url_for('users.profile', username=comment.user.username) }}">No Profile Picture</a></td>
            <td>
                <p>{{ comment.user.username }}</p>

                <p><strong><span id="post{{ comment.id }}">{{ comment.content }}</span></strong></p>
                {%- if current_user.is_authenticated() -%}
                <i class="fa fa-edit"></i> <a href="{{ url_for('blog.delete_comment', comment_id=id) }}">Delete Comment</a>
                {%- endif -%}
            </td>
        </tr>
    {%- endfor -%}
    </table>
{%- endif -%}
