<div class="comments row">
{% if form %}
{% from theme("macros.html") import render_field %}
    <div class="comment row">
        <div class="col-sm-1">
            <img src="//placehold.it/50x50"> <!-- TODO: add profile picture -->
        </div>
        <div class="col-md-6">

            <form role="form" class="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.content, rows=3) }}
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </div>
    <hr>
{% endif %}

{%- if post.comments -%}
    {%- for comment in post.comments -%}
        <div class="comment row">
            <div class="col-sm-1">
                <img src="//placehold.it/50x50"> <!-- TODO: add profile picture -->
            </div>
            <div class="col-md-11">
                <div class="blog-info">
                    <li><i class="fa fa-user"></i> <a href="#" class="">{{ comment.user.username }}</a></li>
                    <li><i class="fa fa-calendar"></i> {{ comment.date_created|time_format }}</li>
                </div>

                <p>{{ comment.content }}</p>
            </div>
        </div>
    {%- endfor -%}
{%- endif -%}

</div> <!-- End comments row -->
