{% set active_blog=True %}
{% set page_title = post.title %}

{% extends theme("layout.html") %}
{% block content %}
    {% include "blog/post_layout.html" %}

    {% if post|can_modify(current_user) %}
    <br/>
    <a href="{{ url_for('blog.edit_post', post_id=post.id) }}">{% trans %}Edit Post{% endtrans %}</a> |
    <a href="{{ url_for('blog.delete_post', post_id=post.id) }}">{% trans %}Delete Post{% endtrans %}</a>
    {% endif %}

    <hr>
    <div class="comments row">
    {% if form %}
    {% from theme("macros.html") import render_field %}
        <div class="comment row">

            <div class="col-sm-1">
                <img src="//placehold.it/50x50"> <!-- TODO: add profile picture -->
            </div>

            <div class="col-md-6">
                <form class="form" role="form" method="post">
                    {{ form.hidden_tag() }}

                    {{ render_field(form.content, rows=3) }}

                    <button type="submit" class="btn btn-default">{% trans %}Submit{% endtrans %}</button>
                </form>
            </div>

        </div>
        <hr>
    {% endif %}

    {%- if post.comments -%}
        {%- for comment in post.comments -%}
            <div class="comment row">
                <div class="col-sm-1">
                    <img src="//placehold.it/50x50"> <!-- TODO: add profile picture -->
                </div>
                <div class="col-md-11">
                    <div class="blog-info">
                        <li><i class="fa fa-user"></i> <a href="{{ url_for("user.profile", username=comment.user.username) }}" class="">{{ comment.user.username }}</a></li>
                        <li><i class="fa fa-calendar"></i> {{ comment.date_created|time_format }}</li>
                    </div>

                    <p>{{ comment.content|markdown }}</p>
                    <div class="moderation">
                    {% if comment|can_modify(current_user) %}
                        <br/>
                        <a href="{{ url_for('blog.edit_comment', comment_id=comment.id) }}">{% trans %}Edit Comment{% endtrans %}</a> |
                        <a href="{{ url_for('blog.delete_comment', comment_id=comment.id) }}">{% trans %}Delete Comment{% endtrans %}</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        {%- endfor -%}
    {%- endif -%}

    </div> <!-- End comments row -->

{% endblock %}
