{% if mode == "edit" %}
    {% set page_title = "Edit Post" %}
{% else %}
    {% set page_title = "New Post" %}
{% endif %}
{% extends theme("layout.html") %}

{% block content %}
{%- from theme("macros.html") import render_field -%}
<form class="form-horizontal" role="form" method="post">
    {{ form.hidden_tag() }}

    <legend>{% if mode == "edit" %}Edit{% else %}New{% endif %} Post</legend>

    {{ render_field(form.title, div_class="col-md-4", label_class="") }}
    {{ render_field(form.content, rows=12, div_class="col-md-9", label_class="") }}

    <div class="form-group">
        <div class="col-lg-offset-0 col-md-9">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
