from tardigrade.configs.default import DefaultConfig


class ProductionConfig(DefaultConfig):
    # Your project name
    PROJECT = "tardigrade"

    ## Database
    # If no SQL service is choosen, it will fallback to sqlite
    # For PostgresSQL:
    #SQLALCHEMY_DATABASE_URI = "postgresql://localhost/example"
    # For SQLite:
    #SQLALCHEMY_DATABASE_URI = 'sqlite:///' + DefaultConfig._basedir + '/' + \
    #                          DefaultConfig.PROJECT + ".sqlite"

    ## Security
    # This is the secret key that is used for session signing.
    # You can generate a secure key with os.urandom(24)
    SECRET_KEY = 'secret key'

    # You can generate the WTF_CSRF_SECRET_KEY the same way as you have
    # generated the SECRET_KEY. If no WTF_CSRF_SECRET_KEY is provided, it will
    # use the SECRET_KEY.
    WTF_CSRF_ENABLED = True
    WTF_CSRF_SECRET_KEY = "reallyhardtoguess"

    ## Caching
    # See the Flask-Cache docs for more caching types
    CACHE_TYPE = "simple"
    CACHE_DEFAULT_TIMEOUT = 60

    ## Captcha
    # To get recaptcha, visit the link below:
    # https://www.google.com/recaptcha/admin/create
    RECAPTCHA_USE_SSL = False
    RECAPTCHA_PUBLIC_KEY = "6LfTs-wSAAAAANpjQ5njcOh1j2TqkdgX_ceJOYtq"
    RECAPTCHA_PRIVATE_KEY = "6LfTs-wSAAAAAMAsJcUKQR6XHFaOp3XTx3lTnlFs"
    RECAPTCHA_OPTIONS = {"theme": "white"}

    ## Mail
    # Google Mail Example
    MAIL_SERVER = "smtp.gmail.com"
    MAIL_PORT = 465
    MAIL_USE_SSL = True
    MAIL_USERNAME = "your_username@gmail.com"
    MAIL_PASSWORD = "your_password"
    MAIL_DEFAULT_SENDER = ("Your Name", "your_username@gmail.com")
    ADMINS = ["your_admin_user@gmail.com"]

    ## Language
    BABEL_DEFAULT_LOCALE = 'en'
    AVAILABLE_LANGUAGES = {"en": "English", "de": "German"}

    ## The default theme
    DEFAULT_THEME = "tardigrade"

    ## Pastebin settings
    LINE_NUMBERS = False
    # If you change this, you'll also need to change the css variable
    CSS_CLASS = "codehilite"
