{% set page_title = user.username ~ ' - Profile' %}

{% extends theme('layout.html') %}
{% block content %}

<div class="media">
    <a class="pull-left" href="#">
        <img class="db img-circle" src="holder.js/130x130">
    </a>
    <div class="col-lg-5">
        <h4>John Doe<small> Example Country</small></h4>
        <h5>Software Developer at <a href="http://example.com">Example Ltd.</a></h5>

        <a href="#" class="btn btn-default btn-xs" role="button">
            <span class="fa fa-envelope"></span> E-Mail
        </a>
        <a href="#" class="btn btn-default btn-xs" role="button">
            <span class="fa fa-globe"></span> WWW
        </a>
        <span class="btn btn-default btn-xs" role="button">
            <span class="fa fa-gift"></span> January 30, 1974
        </span>
        <hr style="margin:8px auto">
        <span class="label label-default">Open Source</span>
        <span class="label label-default">Flask</span>
        <span class="label label-info">Python</span>
        <span class="label label-default">Beer</span>
    </div>
</div>
<hr>

<h1><a href="/post/1">Demo Title</a></h1>
<ul class="blog-info">
    <li><i class="fa fa-calendar"></i> February 31, 2014</li>
    <li><i class="fa fa-user"></i> <a href="/user/test1">John Doe</a></li>
    <li><i class="fa fa-comment"></i> <a href="/post/1">Comments (0)</a></li>
</ul>
<div class="blog-content">
    Demo Content<br />
</div>

<h1><a href="/post/1">Demo Title 2</a></h1>
<ul class="blog-info">
    <li><i class="fa fa-calendar"></i> December 32, 2014</li>
    <li><i class="fa fa-user"></i> <a href="/user/test1">John Doe</a></li>
    <li><i class="fa fa-comment"></i> <a href="/post/1">Comments (10)</a></li>
</ul>
<div class="blog-content">
    Demo Content 2<br />
</div>
{% endblock %}
