{% extends theme("layout.html") %}
{% block content %}
{%- from theme('macros.html') import navlink with context -%}

<div class="row">
    <div class="col-sm-3">
        <div class="sidebar">
            <ul class="nav sidenav">
                <li class="nav-header">{% trans %}Account Settings{% endtrans %}</li>
                <li {% if 'user.change_other' == request.endpoint %}class="active"{% endif %}>
                    <a href="{{ url_for('user.change_other') }}">{% trans %}Settings{% endtrans %}</a>
                </li>
                <li {% if 'user.change_user_details' == request.endpoint %}class="active"{% endif %}>
                    <a href="{{ url_for('user.change_user_details') }}">{% trans %}Change User Details{% endtrans %}</a>
                </li>
                <li {% if 'user.change_email' == request.endpoint %}class="active"{% endif %}>
                    <a href="{{ url_for('user.change_email') }}">{% trans %}Change E-Mail Address{% endtrans %}</a>
                </li>
                <li {% if 'user.change_password' == request.endpoint %}class="active"{% endif %}>
                    <a href="{{ url_for('user.change_email') }}">{% trans %}Change Password{% endtrans %}</a>
                </li>
            </ul>
        </div> <!--/.sidebar -->
    </div><!--/.col-sm-3 -->
    <div class="col-sm-9">
        {% block settings_content %}{% endblock %}
    </div><!--/.col-sm-9 -->
</div><!--/row-->

{% endblock %}
